.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa4D-REdvoDtDv7Gj1-e9bpGzAnM1tU_hNEw&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    

}
.header{
    background-color:blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr6wFO91ABW6Tc52mNGHbHsKPth-4qe0OZLA&usqp=CAU"); */
    background-image: url("https://img0.baidu.com/it/u=2289446283,2987162055&fm=253&fmt=auto&app=120&f=JPEG?w=1422&h=800");
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}

.header-apartment{
    background-color:#040f62;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr6wFO91ABW6Tc52mNGHbHsKPth-4qe0OZLA&usqp=CAU"); */
    background-image: url("images/6.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin:20px 0px 100px 0px
}
.headerContainer.listMode{
    margin:20px 0px 0px 0px;
}
.headerList{
    display: flex;
    gap: 40px;
    
    margin-bottom: 50px;
}
.headerListItem{
    display: flex;
    align-items:center;
    gap: 10px;

}
.headerListItem{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}
.headerDesc{

    margin: 20px 0px;

}

.headerBtn{
    background-color:#040f62;
    color:white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.headerSearch{
    height: 30px;
    background-color: white;
    border: 3px solid rgb(255, 179, 0) ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom:-25px ;
    width: 100%;
    max-width: 1024px;
}
.headerIcon{
    color: black;

}
.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerSearchInput{
    border: none;
    outline: none;
    color:gray;
}
.headerSearchText{
    color:lightgray;
    cursor: pointer;
}
.date{
    position: absolute;
    top: 50px;
    z-index: 2;

}
.options{
    position: absolute;
    top: 50px;
    background-color: white;
    color:black;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgb(43, 205, 226);
    box-shadow: 0px 0px 10px -5px rgb(43, 205, 226) ;
    z-index: 2;
}
.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
}

.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}
.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(3, 211, 238);
    color: black;
    cursor: pointer;
    background-color: white;

}

.optionCounterButton:disabled{
    cursor:  not-allowed;
}

.info-card {
    width: 1024px;
    height: 180px;
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    background-color: #eee;
}
.info-card-left {
    box-sizing: border-box;
    width: 180px;
}
.info-card-left > img {
    width: 180px;
    height: 180px;
}
.info-card-right {
    box-sizing: border-box;
    padding: 10px 20px;
    position: relative;
    flex: 1;
}
.info-card-right .info-card-right-title {
    font-size: 20px;
    font-weight: 700;
}
.info-card-right-desc {
    font-size: 16px;
}
.info-card-right-price {
    position: absolute;
    right: 30px;
    bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

.logo-air{
    margin-left: 60px;
    height: 600px;
    width: 600px;
    margin-top: 0px;
    /* border-style: dotted; */
}