.terms{
    width: 100%;
    max-width: 1024px;
    margin-left: 100px;
}
.logo5{
    margin-left: 400px;
    height: 600px;
    width: 600px;
    margin-top: 50px;
    /* border-style: dotted; */
}
.ft{
    margin-left: 0px;
}